body {
    background-color: #FFF4EE;
}

.dashboard-main {
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tabs_header_wrap {
        display: flex;
        width: 1345px;
        justify-content: space-between;
        .tabs_wrap {
            display: flex;
        }
    }
    .card_wrap {
        margin-bottom: 60px;
    }
    img {
        width: 1345px; 
        height: 544px;
    }
}