.nav {
    min-width: 160px;
    background-color: #FFE4D6;
    min-height: 100vh;
    .nav-inner_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 120px;
        a {
            margin-bottom: 78px;
            position: relative;
                padding-bottom: 20px;
                transition: all .25s;
                // &:hover {
                //     color: #6749A5;
                // }
               
                // &:after {    
                //     background: none repeat scroll 0 0 transparent;
                //     bottom: 0;
                //     content: "";
                //     display: block;
                //     height: 4px;
                //     left: 50%;
                //     position: absolute;
                //     background: #6749A5;
                //     transition: width 0.3s ease 0s, left 0.3s ease 0s;
                //     width: 0;
                //   }
                //   &:hover:after { 
                //     width: 100%;
                //     left: 0; 
                //   }
                
        }
        
                
        .active {
            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 4px;
                position: absolute;
                background: #6749A5;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 100%;
              }
        }
    }
}
